@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Devon's Calculator";
}

@model GradeCalcModel;

<!-- Grade calculation form -->
<h2>Grade Calculator</h2>
<form method="post">
    <label>Assignments</label>
    <input id="assg" asp-for="Assignment"/>&emsp;<br />
    <label>Group Project</label>
    <input id="group" asp-for="GroupProj"/><br />
    <label>Quizzes</label>
    <input id="quiz" asp-for="Quizzes" /><br />
    <label>Midterm Exam</label>
    <input id="midterm" asp-for="MidtermEx"/><br />
    <label>Final Exam</label>
    <input id="final" asp-for="FinalEx"/><br />
    <label>INTEX</label>
    <input id="intex" asp-for="Intex"/><br />
    <br />
    <input id="BtnSubmit" type="submit" value="Submit Form" /> <br /><br />

    <!-- This is where the final grade is output -->
    <h2 class="output" id="output1"></h2>

    <div asp-validation-summary="All"></div>
</form>

<script src="~/js/JavaScript.js"></script>